/* =========================
   SECTION
========================= */
.productHero {
  padding: 100px 20px 80px;
  background: var(--bg);
  border-bottom: 1px solid var(--border);

  display: flex;
  justify-content: center;
  text-align: center;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
}
/* =========================
   CONTAINER
========================= */
.container {
  max-width: 700px;
  width: 100%;
}

/* =========================
   TITLE
========================= */
.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text);
  letter-spacing: -0.4px;
}

/* =========================
   SUBTITLE
========================= */
.subtitle {
  margin-top: 14px;
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 1.6;
}

/* =========================
   LINK
========================= */
.link {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: var(--primary);
  text-decoration: none;
  position: relative;
  transition: 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: var(--primary);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

/* =========================
   HOVER EFFECT
========================= */
.productHero:hover .title {
  color: var(--primary);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 14px;
  }
}