:root {
  --bg: #ffffff;
  --card: #f8fafc;

  --text: #111111;
  --text-secondary: #555555;

  --primary: #ff7a00;
  --secondary: #ff9a3c;

  --border: rgba(0, 0, 0, 0.08);
}

.dark {
  --bg: #0a0a0a;
  --card: #111111;

  --text: #ffffff;
  --text-secondary: #a1a1aa;

  --primary: #ff7a00;
  --secondary: #ff9a3c;

  --border: #222222;
}